*{
    margin: 0;
    padding: 0;
}
header{
    height: 80px;
    background-color:rgb(80, 80, 80);
}
.container{
    width: 1500px;
    margin: 0 auto;
    padding-bottom: 30px;
    background-color: rgb(223,126,10);
}
footer{
    height: 90px;
    background-color: rgb(26, 26, 26);
}
h1{
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
}
.card{
    height: 416px;
    width: 1000px;
    background: url(./bg.png) rgb(246, 251, 253);
    margin: 30px auto;
    display: flex;
}
.options{
    height: 700px;
    width: 80%;
    margin: 0 auto;
    background: #000;
}
.card .left{
    display: flex;
    flex-direction: column;
    /* background: rgb(175, 175, 175); */
}
.info{
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
}
.info > img{
    width: 185px;
    height: 185px;
    margin: 20px;
    border-radius: 25%;
}
.descript{
    width: 580px;
    height: 80px;
    padding-left: 40px;
    padding-top: 20px;
    overflow: hidden;
}
.descript p{
    font-size: 28px;
    color: rgb(102,102,102);
}
h2{
    font-size: 48px;
    color: rgb(29,29,29);
}
.icon{
    margin-top: 10px;
}
.icon > img{
    width: 40px;
}
.price{
    font-size: 28px;
    color: rgba(33,150,243);
    font-weight: 400;
    position: absolute;
    bottom: 20px;
}
.price span{
    font-size: 44px;
    font-weight: 600;
}
.right{
    width: 450px;
}
.box{
    width: 230px;
    height: 340px;
    background: rgb(233, 238, 241);
    border-radius: 18px;
    margin: 38px auto;
    position: relative;
}
.right-top{
    width: 180px;
    margin: 0 auto;
}
h3{
    text-align: left;
    padding-top: 25px;
    font-size: 28px;
    color: rgb(29,29,29);
    font-weight: 600;
}
.right-top p{
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}
.right-top img{
    width: 50px;
    position: absolute;
    top: 12px;
    right: 12px;
}
.qrcode{
    margin: 30px auto;
    height: 180px;
    width: 180px;
    background-color: rgb(255, 255, 255);
    /* position: relative; */
    text-align: center;
}
.qrcode img{
    width: 150px;
    height: 150px;
    /* text-align: center; */
    margin: 15px auto;
    /* padding: 10px; */
    
}

  